body {
    color: #222;
    background-color: #FFFFFB;
    font-family: 'PT Serif', serif;
    font-size: 16pt;
    line-height: 1.6;
    margin: 0px auto 0px auto;
    padding: 12px;
    max-width: 800px;
}

div#header {
    margin-bottom: 24px;
    padding: 12px 0px 12px 0px;
}

div#header a {
    color: #555;
    font-size: 18pt;
    text-decoration: none;
}

div#logo a {
    float: left;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    margin-left: 12px;
    text-transform: lowercase;
}

div#content {
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a {
    color: #00C;
}

a:visited {
    color: #50C;
}

a:hover {
    color: #F44;
}

pre, code, .sourceCode {
    font-family: 'Inconsolata', monospace;
    font-size: 13pt;
    line-height: 1.1;
}

div.sourceCode {
    overflow-x: auto;
}

pre {
    margin-left: 2em;
}

.picture {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
}

.picture a, a.picture {
    color: #555;
    text-decoration: none;
}

.picture img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    font-size: 10pt;
    color: #666;
}

blockquote {
    font-style: italic;
    border-left: 4px solid #CCC;
    color: #555;
    padding-left: 24px;
}

div#footer {
    border-top: solid 1px #BBB;
    color: #555;
    font-size: 10pt;
    margin-top: 40px;
    padding: 24px 0px 24px 0px;
    text-align: center;
    line-height: 1.2;
}

div#footer a {
    text-decoration: none;
}

h1 {
    font-size: 24pt;
    font-style: italic;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 20pt;
    font-weight: normal;
    font-style: italic;
}

hr {
    width: 40%;
    border: 0;
    height: 1px;
    color: #999;
    background-color: #999;
    margin: 48px auto;
}

div.info {
    color: #555;
    font-size: 14pt;
    font-style: italic;
    margin-top: -12px;
}

.post-list {
    list-style-type: lower-roman;
    list-style-type: lower-greek;
}

.post-list a {
    display: block;
    text-decoration: none;
    color: #222;
    padding: 12px;
    border-radius: 6px;
    margin: 0px 0px 12px 12px;
    background-color: #FCFCF2;
}

.post-list a:hover {
    background-color: #FED;
}

.post-list .preview {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.post-list .date {
    color: #444;
    font-size: 10pt;
}

.post-list .title {
    font-style: italic;
    font-size: 18pt;
}

.post-teaser {
    margin: 36px 0 60px;
}

.post-teaser p, .post-teaser dl, .post-teaser ul, .post-teaser ol {
    margin: 6px 0;
}

.post-teaser h1, .post-teaser h2, .post-teaser h3, .post-teaser h4, .post-teaser h5, .post-teaser h6 {
    margin: 12px 0;
}

.post-teaser .post-title {
    text-decoration: none;
}

.post-teaser .post-title h2 {
    color: #222;
}

div.archive-button {
    text-align: center;
}

a.button {
    text-decoration: none;
    background-color: #FED;
    border: 1px solid #C96;
    border-radius: 12px;
    color: #622;
    padding: 18px;
    font-size: 18pt;
}

a.museum-live-button {
    float: right;
    padding: 9px;
    font-size: 14pt;
    border-radius: 6px;
    text-transform: uppercase;
}


a.button:hover {
    background-color: #FFF2E0;
}



/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }
